
$Accordion-itemTerm-backgroundColor: #f7f7f7
$Accordion-itemTerm-borderColor: #d8d8d8
$Accordion-itemTerm-color: #646464
$Accordion-itemDescription-backgroundColor: #ffffff
$Accordion-itemDescription-borderColor: #d8d8d8
$Accordion-itemDescription-color: #495057

.Accordion

  &-itemTerm
    background-color: $Accordion-itemTerm-backgroundColor
    border-width: 1px
    border-color: $Accordion-itemTerm-borderColor
    border-style: solid
    color: $Accordion-itemTerm-color
    cursor: pointer
    padding: 15px
    font-weight: bold

  &-itemDescription
    background-color: $Accordion-itemDescription-backgroundColor
    border-width: 1px
    border-color: $Accordion-itemDescription-borderColor
    border-style: solid
    color: $Accordion-itemDescription-color
    transition-property: height, padding
    transition-duration: .35s
    transition-timing-function: ease
    height: 0
    overflow: hidden
    position: relative

    & :last-child
      margin-bottom: 0

    &.is-expanded
      height: auto
      padding: 15px
